<form method="post" action="{{ path('app_payment_ticket_delete', {'id': payment_ticket.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ payment_ticket.id) }}">
	<button class="btn btn-danger">Supprimer</button>
</form>
