{% extends 'base.html.twig' %}

{% block title %}Créer PaymentTicket
{% endblock %}

{% block body %}
	<h1>Créer nouveau PaymentTicket</h1>

	{{ include('payment_ticket/_form.html.twig') }}

	<a href="{{ path('app_payment_ticket_index') }}" class="btn btn-primary">Retour à la liste</a>
{% endblock %}
