{% extends 'base.html.twig' %}

{% block title %}Nouveau Siège
{% endblock %}

{% block body %}
	<h1>Créer un nouveau Siège</h1>

	{{ include('seat/_form.html.twig') }}

	<a href="{{ path('app_seat_index') }}" class="btn btn-primary">Retour à la liste</a>
{% endblock %}
