{% extends 'base.html.twig' %}

{% block title %}Créer Rangée Spéciale
{% endblock %}

{% block body %}
	<h1>Créer une nouvelle Rangée Spéciale</h1>

	{{ form_start(form) }}
	{{ form_widget(form) }}
	<button class="btn btn-primary">Enregistrer</button>
	{{ form_end(form) }}

	<a href="{{ path('app_special_row_index') }}" class="btn btn-secondary mt-3">Retour à la liste</a>
{% endblock %}
