{% extends 'base.html.twig' %}

{% block title %}Nouvelle Rangée
{% endblock %}

{% block body %}
	<h1>Créer une nouvelle Rangée</h1>

	{{ include('row/_form.html.twig') }}

	<a href="{{ path('app_row_index') }}" class="btn btn-primary">Retour à la liste</a>
{% endblock %}
