<form method="post" action="{{ path('app_price_type_delete', {'id': price_type.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ price_type.id) }}">
	<button class="btn btn-danger">Supprimer</button>
</form>
