{% extends 'base.html.twig' %}

{% block title %}Nouveau Type de Prix
{% endblock %}

{% block body %}
	<h1>Créer un Nouveau Type de Prix</h1>

	{{ include('price_type/_form.html.twig') }}

	<a href="{{ path('app_price_type_index') }}" class="btn btn-primary">Retour à la liste</a>
{% endblock %}
